<html>
                <body>
                <form action = "/add" method = "POST">
                                <label for="id">id: </label><br>
                                <input type="text" id="id" name="id"><br>
                                <label for="title">title:</label><br>
                                <input type="text" id="title" name="title"><br>
                                <label for="author">author: </label><br>
                                <input type="text" id="author" name="author"><br>
                                <label for="price">price:</label><br>
                                <input type="text" id="price" name="price"><br>
                                <label for="language">language: </label><br>
                                <input type="text" id="language" name="language"><br>
                                <input type="submit" value="Submit">
                </form>
                </body>
                </html>
